body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin: 0 auto 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container {
  display: flex;
  height: 80vh;
}

.column {
  box-sizing: border-box;
  width: 50%;
  margin: 5px;
  flex-grow: 1;
}

#editor {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#preview {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
}
